<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../Assets/css/mui.min.css">
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../../Assets/css/app.css" />-->
		<link rel="stylesheet" type="text/css" href="../../Assets/css/mui.picker.min.css" />
		<!--<link href="../../Assets/css/mui.picker.css" rel="stylesheet" />-->
		<link href="../../Assets/css/mui.poppicker.css" rel="stylesheet" />
		<style>
			/*.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}*/
			/*.mui-search{
				float: left;
				margin-left: 100px;
				top: -42px;
			}*/
			#clsList, #Rental{				
				float: right;
				margin-top: 10px;
			}
			/*.type{
				margin: 10px;
			}*/
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" id="btnBack" href="index.html"></a>
			<a id="Rental"><font size="3">出租物品</font></a>
			<!--<div class="mui-input-row mui-search" style="float: right;">
				<input type="search" class="mui-input-clear" placeholder="">
			</div>-->
		</header>
		
		<div class="mui-content">
			<!--<div class="mui-content-padded">
				<div id='cityResult3' class="ui-alert"></div>
			</div>-->
			
			<!--<div class="title type">
				<a href="#" id="clsList">分类不清楚</a>
			</div>-->
			
			<!--<ul class="mui-table-view mui-grid-view">
	            <li class="mui-table-view-cell mui-media mui-col-xs-2 mui-col-sm-1"><a href="#">
	                    <span class="mui-icon mui-icon-home"></span>
	                    <div class="mui-media-body">Home</div></a></li>
	            <li class="mui-table-view-cell mui-col-xs-2"><span>|</span></li>
	            <li class="mui-table-view-cell mui-media mui-col-xs-2 mui-col-sm-1"><a href="#">
	                    <span class="mui-icon mui-icon-email"><span class="mui-badge">5</span></span>
	                    <div class="mui-media-body">Email</div></a></li>
	            <li class="mui-table-view-cell mui-col-xs-2"><span>|</span></li>
	            <li class="mui-table-view-cell mui-media mui-col-xs-2 mui-col-sm-1"><a href="#">
	                    <span class="mui-icon mui-icon-chatbubble"></span>
	                    <div class="mui-media-body">Chat</div></a></li>
			</ul>-->
			
			<!--<ul class="mui-table-view">
				<li class="mui-table-cell mui-col-xs-3">kl
				</li>				
				<li class="mui-table-cell mui-col-xs-3">
					循环
				</li>			
				<li class="mui-table-cell mui-col-xs-3">
					循环
				</li>
			</ul>-->
			
			<ul class="mui-table-view mui-grid-view" style="margin-top: 1px; padding-bottom: 16px;">
		        <li class="mui-table-view-cell mui-col-xs-4">
		            <a href="#"><div class="mui-media-body subClass">位置</div></a></li>
		        <li class="mui-table-view-cell mui-col-xs-4">
		            <a href="#"><div class="mui-media-body subClass" data-options='{"type":"date"}'>时间</div></a></li>
		        <li class="mui-table-view-cell mui-col-xs-4">
		            <a href="#"><div class="mui-media-body subClass">排序</div></a></li>
		        <li class="mui-table-view-cell mui-col-xs-4">
		            <a href="#"><div class="mui-media-body" id="clsList">类别</div></a></li>
		        <li class="mui-table-view-cell mui-col-xs-4">
		            <a href="#"><div class="mui-media-body subClass">搜索</div></a></li>
		    </ul> 
		    
		    <div class="mui-card" style="margin-top: 10px;margin-bottom: 10px;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-right" src="../../Assets/images/muwu.jpg">
							<div class="mui-media-body">
								骑行镜
								<p class='mui-ellipsis'>骑行时使用的眼睛，对眼睛起到很好的保护作用。</p>
							</div>
						</a>
					</li>
					<!--<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-right" src="../images/cbd.jpg">
							<div class="mui-media-body">
								CBD
								<p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-right" src="../images/yuantiao.jpg">
							<div class="mui-media-body">
								远眺
								<p class='mui-ellipsis'>静静的看这个世界，最后终于疯了</p>
							</div>
						</a>
					</li>-->
				</ul>
			</div>
			
			<div id="Gallery" class="mui-slider" style="margin-top:15px;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<a href="Item.html">
							<img class="mui-media-object mui-pull-left" src="../../Assets/images/shuijiao.jpg">
							<div class="mui-media-body">
								幸福2
								<p class='mui-ellipsis'>能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="test.html">
							<img class="mui-media-object mui-pull-left" src="../../Assets/images/muwu.jpg">
							<div class="mui-media-body">
								木屋
								<p class='mui-ellipsis'>想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../Assets/images/cbd.jpg">
							<div class="mui-media-body">
								CBD
								<p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script src="../../Assets/js/mui.min.js"></script>
		<script src="../../Assets/js/mui.picker.min.js"></script>
		<script src="../../Assets/js/mui.poppicker.js"></script>
		<script src="../../Assets/js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
		<script>
//			document.getElementById('search').addEventListener('tap', function() {
//			  //打开关于页面
//			  mui.openWindow({
//			    url: '../Common/Search.html', 
//			    id:'search',
//				show: {
//					aniShow: "pop-in"
//				},
//				waiting: {
//					autoShow: false
//				}
//			  });
//			});

			mui.init();
			
			document.getElementById('clsList').addEventListener('tap', function() {
			  //打开关于页面
			  mui.openWindow({
			    url: '../Trade/ClassList.html', 
			    id:'search',
				show: {
					aniShow: "pop-in"
				},
				waiting: {
					autoShow: false
				}
			  });
			});
			
			var btns = mui('.subClass');
			btns.each(function(i, btn) {
				btn.addEventListener('tap', function() {
					if(i==0){
						//级联示例
						var cityPicker = new mui.PopPicker({layer: 3});
						cityPicker.setData(cityData3);
						cityPicker.show(function(items) {//alert(this.innerText);
							btns[i].innerText = (items[2] || {}).text;
						});
					}else if(i==1){
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						var picker = new mui.DtPicker(options);
						picker.show(function(rs) {//alert(btns[i].innerText);
							btns[i].innerText = rs.text;
							picker.dispose();
						});
					}else if(i==2){
						var userPicker = new mui.PopPicker();
						userPicker.setData([{
							value: "PraiseFirst",
							text: "好评优先"
						}, {
							value: "PriceFirst",
							text: "价格优先"
						}]);
						userPicker.show(function(items) {
							alert(JSON.stringify(items[0].text));
							btns[i].innerText = (JSON.stringify(items[0].text)).replace(new RegExp(/(")/g), "");
							//返回 false 可以阻止选择框的关闭
							//return false;
						});						
					}
				}, false);
			});
		</script>
	</body>

</html>